@import url('https://fonts.cdnfonts.com/css/orkney');
                
body {
    display: flex;
    z-index: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Orkney', sans-serif;
}

#background-lottie {
    position: fixed;
    top: 0;
    left: 0;
    width: 90vw;
    height: 90vh;
    z-index: -1;
}

.section {
    z-index: 10;
}

// Navigation Bar
.nav-bar {
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 12vh;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 1% 3% 1% 3%;

    #logo {
        display: flex;
        width: 20%;
        justify-content: center;
        align-items: center;
        border-radius: 20px 0 0 20px;

        img {
            display: flex;
            width: 100%;
        }

    }

    .nav-links {
        display: flex;
        width: 65%;
        // background-color: yellow;
        justify-content: center;
        align-items: center;
        border-radius: 0 20px 20px 0;

        ul {
            display: flex;
            width: 100%;
            justify-content: space-around;
            list-style: none;
            column-gap: 2vw;
        }
    }

    .contact-us {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10%;
        height: 40%;
        background-color: #4175FC;
        border-radius: 5px;

        p {
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 80%;
            // background-color: red;
            padding: 0px;
            margin: 0px;
        }
    }
}

/* Animation for the sections */
.section {
    opacity: 0;
    transform: translateY(20px); /* Slide in from the bottom */
    transition: opacity 1s 0.2s, filter 1s 0.2s, transform 1s 0.2s; /* 0.2s delay */
}

// @media (prefers-reduced-motion) {
//     .section {
//         transition: none;
//     }
// }

.show {
    opacity: 1;
    transform: translateY(0); /* Slide in from the bottom */
}
//---------------------------


// Section 1
#section-1 {
    display: flex;
    // height: 60vh;
    padding-top: 8vh;
    width: 85%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin: 8vh 0 8vh 0;
    padding: 4%;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    %fifty-template {
        display: flex;
        z-index: 10;
        flex-direction: column;
        justify-content: right;
        padding: 0;
        margin: 0;
    }

    .left {
        @extend %fifty-template;
        width: 40%;

        h1 {
            color: #1B155F;
            font-size: 5vw;
            padding: 0;
            margin: 0;
        }

        p {
            display: flex;
            width: 80%;
            color: #1B155F;
        }
    }

    .right {
        @extend %fifty-template;
        width: 60%;

        img {
            width: auto;
            height: 100%;
            padding: 0;
            margin: 0;
        }
    }
}


%box-section-template {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    width: 85%;
    margin: 0 0 8vh 0;
    padding: 4%;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    background-color: white;

    h1 {
        display: flex;
        align-items: center;
        border-left: solid 5px #4175FC;
        padding-left: 1vw;
        margin-top: 0;
    }

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

%card-background {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#section-2 {
    @extend %box-section-template; //Includes styling for main/back card + header (H1)

    .horizontal-scrollbar {
        // max-height: 30vw;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        padding-bottom: 2vh;

        .item {
            @extend %card-background; //CARD GLASSY BACKGROUND 

            display: flex;
            flex-direction: column;
            border-radius: 5px;
            padding: 2% 3% 2% 3%;
            row-gap: 2vh;

            box-shadow: 0 4px 6px gray;

            // min-width: 25vw;
            width: 25vw;
            height: 25vw;
            margin-right: 3vw;

            .news-tags {
                display: flex;
                align-items: center;
                column-gap: 2vw;
                height: 15%;
                // background-color: red;

                .news-tag {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #4175FC;
                    border-radius: 5px;
                    height: 4vh;
                    width: 15vw;

                    p {
                        margin: 0;
                        padding: 0;
                        color: #1B155F;
                    }
                }
            }

            .profile-info {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 20%;
                // background-color: blue;

                img {
                    height: 100%;
                    width: auto;
                    background-color: gray;
                    border-radius: 50%;
                }

                .text-info {
                    margin-left: 5%;
                    
                    p {
                        margin: 0;
                        padding: 0;
                    }
                }
            }

            .news-content {
                display: flex;
                flex-direction: column;
                height: 50%;
                // background-color: orange;
                width: 100%;

                h2 {
                    text-overflow: ellipsis; //!Adds three dots to the ends, if text doesnt fit
                    overflow-x: hidden; //!Limits the text from overflowing on x-axis
                    white-space: nowrap; //!Limits the text to one row/line

                    // background-color: blue;
                    height: 20%;
                    font-weight: normal;
                    color: #1B155F;
                    
                    max-width: 100%;
                }

                p {
                    // background-color: purple;
                    max-height: 100%;
                    overflow: hidden; /* Hide any overflowing content */
                    text-overflow: ellipsis; /* Add an ellipsis (...) for truncated text */
                    white-space: normal; /* Allow text to wrap to multiple lines */
                    // box-sizing: border-box;
                    color: #1B155F;
                    margin: 0;
                }
            }

            .read-more-button {
                display: flex;
                justify-content: center;
                align-items: center;

                border-radius: 5px;
                border: solid 1px gray;
                height: 20%;
                width: 15vw;
                // background-color: yellow;

                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    color: #1B155F;
                    margin: 0;
                }
            }
        }
    }

    .horizontal-scrollbar::-webkit-scrollbar{
        // width: 0;
    }
}


#section-3 {
    @extend %box-section-template; //Includes styling for main/back card + header (H1)

    .header {
        display: flex;
        justify-content: space-between;
    }

    .card-layout {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        .card {
            @extend %card-background; //CARD GLASSY BACKGROUND 

            display: flex;
            align-items: center;
            border-radius: 10px;

            height: 45vh;
            width: 48%;
            margin: 0 0 2% 0;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

            img {
                height: 70%;
            }

            .text-content {
                display: flex;
                flex-direction: column;
                padding: 5%;

                h3 {
                    padding-bottom: 0;
                    color: #1B155F;
                }

                p {
                    color: #1B155F;
                    font-size: small;
                }
            }

            .read-more-btn {
                display: flex;
                width: 30%;
                align-items: center;
                justify-content: center;

                border: solid 1px #979797;
                background-color: #D8D8D8;
                border-radius: 5px;
                padding: 1% 3% 1% 3%;

                margin-top: 5%;

                p {
                    color: black;
                    font-size: small;
                    font-weight: 100;
                }
            }
        }
    }
}


#section-4 {
    @extend %box-section-template;

    .kpi-card {
        // opacity: 0;
        // transform: translateY(200px); /* Slide in from the bottom */
        // transition: opacity 1s 0.2s, filter 1s 0.2s, transform 1s 0.2s; /* 0.2s delay */

        display: flex;
        width: 100%;
        flex-direction: column;

        .content {
            display: flex;
            flex-direction: column;
            width: 33%;
            // border: solid 1px black;

            h1 {
                display: flex;
                color: #4175FC;
                padding: 0;
                margin-bottom: 0;
                border: 0;
                border-bottom: solid 2px silver;
                font-size: 10vw;
            }

            .kpi-title {
                font-size: x-large;
                font-weight: 700;
                color: #1B155F;
                padding: 2vh 0 0 0;
                margin: 0;
            }

            .kpi-subtitle {
                font-size: large;
                color: silver;
                padding: 1vh 0 0 0;
                margin: 0;
            }
        }
    }

    #left {
        align-items: baseline;
    }

    #mid {
        align-items: center;
    }

    #right {
        align-items: flex-end;
    }
}

#section-5 {
    @extend %box-section-template;
}


#section-6 {
    @extend %box-section-template;
    height: 40vh;
    justify-content: flex-end;
    background: rgb(142,178,245);
    background: linear-gradient(171deg, rgba(142,178,245,1) 0%, rgba(85,123,232,1) 53%);

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;

        h1 {
            display: flex;
            width: 30%;
            align-items: center;
            border-left: none;
            padding-left: 1vw 0 0 0;
            margin: 0;
    
            color: white;
            font-weight: normal;
            font-size: 6vh;
        }
    
        img {
            width: auto;
            height: 8vh;
        }
    }
}

#section-7 {
    @extend %box-section-template;

    // Following code for accordion is taken from: https://www.w3schools.com/howto/howto_js_accordion.asp
    /* Style the buttons that are used to open and close the accordion panel */
    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
    }
    
    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .accordion:hover {
        background-color: #ccc;
    }
    
    /* Style the accordion panel. Note: hidden by default */
    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
}

#section-8 {
    @extend %box-section-template;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-top: solid 1px gray;
        border-bottom: solid 1px gray;
        height: 60vh;
        width: 90%;

        .top {
            display: flex;
            padding: 2%;

            img {
                width: auto;
                height: 3vh;
            }
        }

        .bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            p {
                color: gray;
            }
        }
    }
}



@media only screen and (max-width:1000px) {
    body {
        background-color: red;
    }

    .nav-bar {
        #logo {
            height: auto;
            width: 40vw;
        }
        .nav-links{
            display: none;
        }
    }

    #section-1 {
        display: flex;
        flex-direction: column;

        .left, .right {
            width: 100%;
            align-items: center;

            img {
                height: auto;
                width: 80%;
                background: url("lab-1.1.svg");
                border-radius: 5px;
            }
        }
    }

    #section-2 {
        .horizontal-scrollbar {
            max-height: none;
            display: flex;
            flex-direction: row;
            overflow-x: auto;
            padding-bottom: 2vh;

            .item {
                min-width: 50vh;
                min-height: 50vh;
            }
        }
    }
}


//  _   _   ____  _____             _  _  _      _                        _____               
// | \ | | / ___||_   _|_ __  __ _ (_)| || |__  | |  __ _  ____ ___  _ __|_   _|___  _ __     
// |  \| || |      | | | '__|/ _` || || || '_ \ | | / _` ||_  // _ \| '__| | | / _ \| '_ \    
// | |\  || |___   | | | |  | (_| || || || |_) || || (_| | / /|  __/| |    | ||  __/| | | | _ 
// |_| \_| \____|  |_| |_|   \__,_||_||_||_.__/ |_| \__,_|/___|\___||_|    |_| \___||_| |_|(_)